
<div >
  <div class="modal-header">
    <div class=" text-center container">
      <p class="h4">Log in</p>
  </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">      
      
      <!-- Email -->
      <input type="email" formControlName="username"  class="form-control mb-4" placeholder="Username">
    
      <!-- Password -->
      <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">
  
        
      <button type="submit"  class="btn btn-info">Log in</button>
      
    </form>

  </div>

</div>
