
<div class="vert">
    <div class="modal-content ">
        <div class="modal-header">
            <div class=" container">
              <p class="h4 text-center">Edit profile</p>
        <div class="modal-body">
            <form class="float-left" >    
                <p class="">Name<p>  
                <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name"  >

                <p class="">Surname</p>
                <input type="text" formControlName="surname" class="form-control mb-4" placeholder="Surname"  >
                
                <p class="">Email</p>
                <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail" >
                
                <div class=" ">  
                    <button type="submit"  class="btn btn-primary mx-1">Save changes</button>
                    <button type="button"  class="btn btn-secondary mx-1">Close</button>
                    
                </div>
            </form>
    
        </div>
    </div>
</div>
