

<div class="position-relative">

    
<form class="register-form position-absolute top-0 start-50 translate-middle-x" [formGroup]="registerForm"   (ngSubmit)="onSubmit()">

    <div class="col text-center container">
        <p class="h4 mb-4 ">Register here</p>
    </div>
    <!-- Name -->
      <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name"  >
      

    <!-- Surname -->
      <input type="text" formControlName="surname" class="form-control mb-4" placeholder="Surname"
       >

    <!-- Username -->
      <input type="text" formControlName="username" class="form-control mb-4" placeholder="Username" 
        >

    <!-- Email -->
      <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail" 
      >
  
    <!-- Password -->
    <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">
  

    <!-- Sign in button -->
    <div class="col text-center container">
        <button type="button" class="btn btn-primary btn-lg my-2"  type="submit" >Sign up</button>
        <!-- Log in -->
        <p>
            Already a member?
                <a class="link-primary"  (click)="openModal()">Log in</a>
        
        </p>
        
    </div>
    
  </form>
