<app-navigation-bar></app-navigation-bar>
<body>
    <div class="main mt-5">
            
            
            
            <div id="table-container" class="">
              <div id="label-holder">
                <label  class="form-label col-form-label-lg ">Your last tweets</label>
              </div>
              
              <table id="tweets-table" class="table table-striped">
                  <thead>
                      <th scope="col">Time</th>
                      <th scope="col">Preview</th>
                      <th scope="col">Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tweet of lastTweets">
                      <td>{{ tweet.dateTime}}</td>
                      <td>{{ tweet.textContent}}</td>
                      <td> 
                        <button type="button" class="btn btn-primary mx-1" (click)="editTweet(tweet.id, tweet.textContent)">Edit</button>
                        <button type="button" class="btn btn-outline-danger mx-1">Delete</button>
                      </td>
                    </tr> 
                    
                  </tbody>
                </table>
            </div>
              
    </div>

</body>